<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Monterrey guide at chingon.info</title>
        <meta name="description" content="A comprehensive guide to Monterrey, covering key attractions, local culture, food, and travel tips">
        {% include "meta-content.njk" %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">chingón.info</a></li>
                <li><a href="/guide/">Guide</a></li>
                <li><a href="/guide/places/">Places</a></li>
                <li>Monterrey</li>
            </ul>
        </nav>
        <article>
            <header>
                <h1>Monterrey</h1>
                <blockquote>
                    <p>The delicious grilled meat to prepare one of the most famous dishes in taquerias here in <span id="strong-title"><strong>Monterrey</strong></span>: the one-of-a-kind special baked potato with hanger steak. And to make it just like they do here, we start by putting together a tray made of aluminum foil, beginning by folding all the edges...</p>
                    <p><span lang="es">La deliciosa carnita asada para preparar uno de los platillos más famosos en las taquerías acá en <span id="strong-title"><strong>Monterrey</strong></span>: la inigualable papa asada especial con arrachera. Y para hacerla tal y como se preparan acá, vamos armando una charola de papel aluminio, comenzando por hacer un doblez en todos los extremos...</span></p>
                    <p>– <a href="https://www.youtube.com/watch?v=zVTwae1BKag">barbecue Youtube channel Munchie Labs</a> based in <span id="strong-title"><strong>Monterrey</strong></span></p>
                </blockquote>
            </header>
            <section>
                <h2>Preamble.</h2>

                <p>Mexico's third largest city, Monterrey, is known for its wealth. Three million residents populate Monterrey's metropolitan area, and when you visit here, you realise that Monterrey is more like the United States and less like Mexico. Monterrey is, in fact, Mexico's current commercial and industrial powerhouse. Many of Mexico's biggest companies are headquartered here; it is also a huge area for <span lang="es">maquiladoras</span>, factories where goods are assembled, often from foreign components, to be exported once again for sale in the USA, Europe, and Asia.</p>
                
                <p>The city's square is one of the largest in the world; but it was created in the 1980s with efficiency in mind; people here don't stroll around admiring the architecture—they are probably late for their next appointment!</p>
                
                <p>Most tourists bypass Monterrey, but in doing so they miss the opportunity to experience a perfect example of a city that combines the new and the old Mexico—and miss the enjoyment of many of the attractions waiting for them nearby.</p>
                
                <p>There are several museums in Monterrey, including the famous Museum of Contemporary Art. Monterrey is also home to the country's top private university—<span lang="es">Instituto Tecnológico de Monterrey</span>—which now has several campuses throughout the country, including a huge complex in Mexico City. The cathedral and buildings centred around the main plaza are an excellent example of modern colonial architecture blending in with the old world. Within an hour of Monterrey, you'll find some stunning ecological attractions too, including caves, waterfalls, and of course, the majestic and famous Sierra Madre mountain range.</p>
                
                <p>Don't write off Monterrey as a commercialised piece of the USA in Mexico—to do so would be denying yourself the chance to experience a great city, one which is vibrant and confident, and which is at the cutting edge of Mexico's drive to develop and grow into a more prosperous nation.</p>                

                <p>/add images here/</p>
            </section>
            <section>
                <h2>Section 1.</h2>
                <p>These are the key attractions of Monterrey:</p>

                <h3><span lang="es">Gran Plaza</span></h3>
                <p>Sometimes referred to as the <span lang="es">Makro Plaza</span>, when you come here, you'll see why. Life in the plaza is packed full of energy, and its size makes it one of the largest plazas in the world. It would overwhelm you were it not for the buildings, walkways, and fountains that have been built-in to this central focus-piece.</p>

                <p>The plaza is host to many of the city's most important buildings: The <span lang="es">Catedral</span> (Cathedral), The <span lang="es">Palacio de Gobierno</span> (Government Palace), The <span lang="es">Museo de Arte Contemporáneo</span> (Contemporary Art Museum), the <span lang="es">Palacio Municipal</span> (Municipal Building), The Main Post Office, and the <span lang="es">Palacio de la Justicia</span> (Court House), to name a few!</p>

                <h3>Around Monterrey</h3>
                <p><span lang="es">Barrio Antiguo</span> means "Old Neighbourhood," and east of the Grand Plaza, you'll find this area of town, where you can wander around and look at the old world of Monterrey. This zone is starting to become trendy and fashionable with the locals as chic cafes, art galleries, and antique shops set up shop in the area. It's also becoming a major night spot in Monterrey, especially at the weekends.</p>

                <p>Modelled on Mexico City's <span lang="es">Zona Rosa</span> (meaning "Pink Zone"), this is the area where you'll find some of the top restaurants and hotels, expensive shops, and boutiques. It's great for (window) shopping, and to find a good place to eat and drink. The area surrounding Monterrey has a lot to offer visitors wanting to see some of Mexico's stunning northern deserts and mountains. Attractions include the <span lang="es">Cueva de García</span> (García Caves), <span lang="es">Cascadas de Cola de Caballo</span> (Horse Tail Waterfalls), <span lang="es">Presa Rodrigo Gómez</span> (Rodrigo Gómez Dam), and gorgeous views from <span lang="es">Chipinque</span> on the <span lang="es">Sierra Madre</span> Mountains.</p>

                <h3>Shopping</h3>
                <p>Monterrey's commercial scene has developed significantly in recent years. Where before, the <span lang="es">Zona Rosa</span> (see above) was the premier location for shops, hotels, and restaurants, today there are various commercial centres and malls located in this modern city that offer new varieties and extended choices to visitors and residents alike.</p>

                <p><span lang="es">Plaza México</span>, <span lang="es">Gallerías Monterrey</span>, <span lang="es">Plaza Fiesta San Agustín</span>, and <span lang="es">Plaza Quinta</span> are top-quality modern shopping centres offering the latest styles, excellent food and drink, and top fashion. If you have visited the United States and like its shopping malls, you'll love Monterrey's modern commercial centres, which are modelled on them and include many of the top names in US retail (e.g., JC Penney, Sears, Hugo Boss, et al).</p>

                <h3>Museums & Art</h3>
                <p>Monterrey has several good museums. The main ones are listed below:</p>

                <ul>
                    <li><span lang="es">Museo del Vidrio</span> (Glass Museum) - Features the history, manufacture, and use of glass in Mexico. The museum includes an art glassware gallery and a shop selling fine glass.</li>
                    <li><span lang="es">Museo del Obispado</span> (Museum of the Bishopric) - Is on a hill and offers fine views of the city on clear days (the pollution here can be bad at times). Today it's a small historical museum, principally about Mexico's revolutionary period.</li>
                    <li><span lang="es">Museo de Arte Contemporáneo</span> (Contemporary Art Museum) - Hosts major exhibitions, including those of top Mexican and international artists. Said to be one of the best museums in the country.</li>
                </ul>
            </section>
            <section>
                <h2>Section 2.</h2>
                <h3>Getting there...</h3>
                <p><b>by air</b> - You can fly to Monterrey from the US and all other main cities in Mexico. Connect to the Mexperience Directory for Airlines.</p>
                <p><b>by bus</b> - You can travel to Monterrey on a luxury bus from Mexico City - the trip takes around 12 hours. An overnight bus does run from Mexico City to Monterrey, arriving in time to enjoy the day there, although travelling by bus, even on a luxury bus, for 12 hours can be quite tiring. Connect to the <a href="">directory for National Buses</a>.</p>
                <p><b>by car</b> - Monterrey is well connected by federal (free) and toll roads, connecting it to the colonial heartland and Mexico City in the south and the USA in the north. See additional information about <a href="">driving in Mexico</a> and <a href="">Mexico's toll roads</a>.</p>
                
                <h3>Getting around...</h3>
                <p><b>from the airport</b> - The airport is about 10 miles north of the city, and taxis are available to take you into the centre of Monterrey; they are reasonably priced.</p>
                <p><b>taxis</b> - Your hotel can arrange taxis for you; some post their rates on a board in the lobby. If you speak Spanish, you will have a distinct advantage and be able to negotiate a better price! Another good reason to <a href="">learn Spanish</a>!</p>
                <p><b>metro</b> - A very simple two-line system can take you to various places around the city. The over-ground tram (line 1) runs west-east and is designed to transport people from residential areas in the south to the city centre; the underground train (line 2) runs north-south and is good for all major attractions in and around the city's centre.</p>
                <p><b>rent a car</b> - Monterrey is very accessible by road, and there is plenty to see and do in the surrounding areas, including trips to nearby caves, ecological attractions, and mountains. Hiring a car would be a smart option if you're thinking about exploring this region, as it will give you the freedom and flexibility to see more of the area and its surrounding attractions effectively. See <a href="">the guide on car renting</a> for more information.</p>
                
            </section>
            <section>
                <h2>Section 3.</h2>
                <p>Besides the big national holidays like Independence Day, Easter, and Christmas (see <a href="">Mexico Events Calendar</a>), Monterrey has some local festivals of its own:</p>

                <p>Expo Monterrey - An annual trade and cultural fair in Monterrey, which takes place in September.</p>
                
                <p><span lang="es">Festival Cultural del Barrio Antiguo</span> - (Cultural Festival of the Old Neighbourhood) features concerts, performances, and conferences which all take place in the clubs and establishments inside Monterrey's 'old town' (<span lang="es">Barrio Antiguo</span>). Late November.</p>

                <p>/add image here/</p>
            </section>
            <section>
                <h2>Section 4.</h2>
                <p>Monterrey has a selection of good night spots to suit those looking for culture and those looking for a party!</p>

                <p>Locally hosted parties: Check with your hotel and other local hotels about public parties they may be hosting during your stay. Traditional Mexican theme night parties are popular with the locals, and there's a chance you could join a really special night out – the real Mexican way – especially on the eve of September 16th, Mexico's Independence Day! Hosted parties usually include dinner, dancing, a show and/or live music (usually authentic Mexican Mariachis), plus all drinks for a fixed fee and are always excellent value for money! Ask at your hotel to find out what is happening locally.</p>
                
                <p>Nightclub scene: Big hotels with adjoining nightclubs have been the center of attraction for night-clubbers in Monterrey. However, the <span lang="es">"Barrio Antiguo"</span> is becoming more popular as a night spot, offering an alternative to the 'big hotel scene'. Some nightclubs charge an all-inclusive cover fee; others a smaller cover charge with drinks on top. Drinks are served all night – don't even consider going to a nightclub before 11 p.m. Nightclubs keep going all morning, and most people will start to leave between 5 and 7 a.m.</p>
                
                <p>Night bars / restaurants: There's a good variety of late-night entertainment in Monterrey to keep you happy and entertained into the early hours.</p>                
            </section>
            <section>
                <h2>Section 5.</h2>
                <p>Monterrey is in Mexico's northern desert region and enjoys year-round, very hot weather in a very dry climate. The climate is ideal for taking part in a variety of outdoor sports and activities and for taking in the local attractions, architecture, and scenery. Rain is seldom a feature here; when they do come, they tend to be in the form of magnificent, fierce, and drenching thunder-storms. Monterrey is not affected by Mexico's rainy season.</p>

                <p>/add image here/</p>
            </section>
        </article>
        {% include "footer.njk" %}
    </body>
</html>