body {
    margin: 0 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main {
    max-width: 1720px;
}

.cont {
    max-width: 720px;
}

.hide,
.skip {
    display: none;
}

a {
    color: blue;
}

:lang(es) {
    color: #CE1125;
}

:lang(nah) {
    color: #40905c;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    display: inline-block;
    padding: 0;
    display: flex;
}

nav li:after {
    content: "›";
    display: inline-block;
    margin: 0 7px;
    pointer-events: none;
}

nav li:last-of-type:after {
    display: none;
}

.multi-column-section {
    display: flex;
    flex-wrap: wrap;
}

.multi-column-section .column {
    flex: 1 1 30%;
    box-sizing: border-box;
}

footer,
footer p,
footer ul {
    font-size: 18px;
    line-height: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul {
    list-style: none;
}

footer table {
    max-width: 1024px;
    margin: 2em 0 0 0;
}

footer table tr td:first-of-type {
    width: 341px;
    padding: 0;
}

footer table tr td:nth-of-type(2) {
    width: auto;
    padding: 0;
}

.h1,
h1 {
    font-size: 75px;
    line-height: 0px;
}

h1 + .h1 {
    margin-top: -0.6em;
}

h2 {
    font-size: 36px;
    margin: 1.5em 0 .75em 0;
}

h3 {
    font-size: 28px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
}

p,
table,
ul {
    font-size: 23px;
    line-height: 27px;
}

header,
section {
    max-width: 1024px;
}

.subtitle p {
    line-height: 0px;
}

.multi-column-list {
    list-style: none;
    padding: 0;
    column-width: 200px;
    column-gap: 0em;
}

.multi-column-list li {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    line-height: 100%;
    margin-bottom: 0.25em;
}

ol {
    font-size: 20px;
    list-style: none;
    padding: 0;
    columns: 2;
    max-width: 715px;
    column-gap: 15px;
}

ol li {
    max-width: 350px;
    break-inside: avoid-column;
}

table td {
    vertical-align: top;
}

img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
    margin-top: 48px;
}

figure {
    margin: 26px 0;
    display: inline-block;
}

figure img + img {
    margin-top: -3%;
}

figcaption {
    margin-top: 6px;
    max-width: 720px;
}

figcaption p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}

p img {
    width: 100%;
    max-width: 720px;
    height: auto;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.5em;
    line-height: 0;
    font-size: 16px;
    font-weight: 700;
}

sup a {
    text-decoration: none;
}

.footnotes {
    margin-bottom: 48px;
}

.footnotes p {
    display: inline;
    font-size: 20px;
    line-height: 22px;
    hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
}

.footnotes sup {
    top: -0.2em;
}

@media (prefers-color-scheme: dark) {
    body,
    html {
        background-color: #1e1e1e;
        color: #eee;
    }

    a {
        color: #a4b9fe;
    }

    :lang(es) {
        color: #ffb4bc;
    }

    :lang(nah) {
        color: #a6ffc5;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #fff;
    }

    .lightvideo {
        display: none;
    }

    .darkvideo {
        display: block;
    }
}

@media (max-width: 1023px) {
    picture {
        text-align: center;
        display: block;
    }
}

@media (max-width: 767px) {
    footer table tr td:first-of-type {
        width: 300px;
    }

    footer ul {
        padding: 0;
    }

    h1 {
        font-size: 36px;
        line-height: 0px;
    }

    h2 {
        font-size: 30px;
        line-height: 30px;
    }

    ol {
        columns: 1;
        font-size: 18px;
    }

    ol li {
        max-width: 100%;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    p,
    table,
    ul {
        font-size: 20px;
        line-height: 24px;
    }

    .multi-column-section .column {
        flex: 1 1 100%;
    }
}