<ul class="multi-column-list">
    <li><a href="">Adventure trips</a></li>
    <li><a href="">Archaeology</a></li>
    <li><a href="">Beaches</a></li>
    <li><a href="">Eco tourism</a></li>
    <li><a href="">Fishing</a></li>
    <li><a href="">Health spas</a></li>
    <li><a href="">Jungles</a></li>
    <li><a href="">Outdoors</a></li>
    <li><a href="">Resorts</a></li>
    <li><a href="">Water sports</a></li>
</ul>