<ul>
    <li><a href=""><b>Getting to Mexico</b></a></li>
    <li><a href=""><b>Events calendar</b></a></li>
    <li><a href="">Communications</a></li>
    <li><a href="">Currency converter</a></li>
    <li><a href="">Disabled travellers</a></li>
    <li><a href="">Driving in Mexico</a></li>
    <li><a href="">Embassy and consulates</a></li>
    <li><a href="">Entry requirements</a></li>
    <li><a href="">Getting around</a></li>
    <li><a href="">Health and safety</a></li>
    <li><a href="">Mexico toll roads</a></li>
    <li><a href="">Money</a></li>
    <li><a href="">Practical information</a></li>
    <li><a href="">Travel insurance</a></li>
    <li><a href="">Weather and climates</a></li>
</ul>