<footer>
    <table>
        <tr>
            <td>
                <ul>
                    <li><b>chingón.info</b></li>
                    <li><span lang="es">chingón es algo muy chingón</span></li>
                    <li>chingón is something very chingón</li>
                    <li>– <a href="https://www.youtube.com/watch?v=zOqM1orQ-S4">MissaSinfonia</a></li>
                    <li><a href="mailto:contact@chingon.info">contact@chingon.info</a></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><a href="">About page</a></li>
                    <li><a href="">About me</a></li>
                    <li><a href="" style="white-space: nowrap;">Design choice</a></li>
                    <li><a href="">Credits</a></li>
                </ul>
            </td>
        </tr>
    </table>
</footer>