<ul class="multi-column-list">
    <li><a href="">Chihuahua City</a></li>
    <li><a href="">Guadalajara</a></li>
    <li><a href="">Mérida</a></li>
    <li><a href="">Monterrey</a></li>
    <li><a href="">Morelia</a></li>
    <li><a href="">Tuxtla Gutiérrez</a></li>
    <li><a href="">Villahermosa</a></li>
</ul>