<!--descanse en paz mexperience.com de 2005-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">        
<meta name="robots" content="index, follow">

<meta name="theme-color" media="(prefers-color-scheme: light)" content="#FFFFFF">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1E1E1E">

<link rel="stylesheet" href="/css/style.css">