<ul class="multi-column-list">
    <li><a href="">Bonampak</a></li>
    <li><a href="">Chichen Itzá</a></li>
    <li><a href="">Chinkultic</a></li>
    <li><a href="">Coba</a></li>
    <li><a href="">Copper Canyon</a></li>
    <li><a href="">El Tajín</a></li>
    <li><a href="">Monte Albán</a></li>
    <li><a href="">Montebello Lakes</a></li>
    <li><a href="">Palenque</a></li>
    <li><a href="">Sumidero Canyon</a></li>
    <li><a href="">Tenam Puente</a></li>
    <li><a href="">Teotihuacán</a></li>
    <li><a href="">Templo Mayor</a></li>
    <li><a href="">Tulum</a></li>
    <li><a href="">Uxmal</a></li>
    <li><a href="">Yaxchilan</a></li>
</ul>