<ul class="multi-column-list">
    <li><a href="">Acapulco</a></li>
    <li><a href="">Álamos</a></li>
    <li><a href="">Cabo San Lucas</a></li>
    <li><a href="">Cancún</a></li>
    <li><a href="">Cozumel</a></li>
    <li><a href="">Comitán</a></li>
    <li><a href="">Costalegre</a></li>
    <li><a href="">Cuernavaca</a></li>
    <li><a href="">Huatulco</a></li>
    <li><a href="">Isla Mujeres</a></li>
    <li><a href="">Ixtapa-Zihuatanejo</a></li>
    <li><a href="">La Paz</a></li>
    <li><a href="">Loreto</a></li>
    <li><a href="">Manzanillo</a></li>
    <li><a href="">Mazatlán</a></li>
    <li><a href="">Mitla</a></li>
    <li><a href="">Pátzcuaro</a></li>
    <li><a href="">Playa del Carmen</a></li>
    <li><a href="">Puerto Escondido</a></li>
    <li><a href="">Puerto Vallarta</a></li>
    <li><a href="">Punta de Mita</a></li>
    <li><a href="">San Cristóbal de las Casas</a></li>
    <li><a href="">San José del Cabo</a></li>
    <li><a href="">San Miguel de Allende</a></li>
    <li><a href="">Taxco</a></li>
    <li><a href="">Tlaquepaque</a></li>
    <li><a href="">Todos Santos</a></li>
</ul>