<ul class="multi-column-list">
    <li><a href="/guide/states/aguascalientes">Aguascalientes</a></li>
    <li style="color: grey;"><i>Baja California</i></li>
    <li style="color: grey;"><i>Baja California Sur</i></li>
    <li><a href="/guide/states/campeche">Campeche</a></li>
    <li style="color: grey;"><i>Chiapas</i></li>
    <li><a href="">Chihuahua</a></li>
    <li style="color: grey;"><i>Coahuila</i></li>
    <li style="color: grey;"><i>Colima</i></li>
    <li style="color: grey;"><i>Durango</i></li>
    <li><a href="">Guanajuato</a></li>
    <li style="color: grey;"><i>Guerrero</i></li>
    <li style="color: grey;"><i>Hidalgo</i></li>
    <li><a href="">Jalisco</a></li>
    <li><a href="/guide/states/mexico-city">Mexico City</a></li>
    <li><a href="">Michoacán</a></li>
    <li style="color: grey;"><i>Morelos</i></li>
    <li style="color: grey;"><i>Nayarit</i></li>
    <li><a href="">Nuevo León</a></li>
    <li><a href="">Oaxaca</a></li>
    <li><a href="">Puebla</a></li>
    <li><a href="">Querétaro</a></li>
    <li style="color: grey;"><i>Quintana Roo</i></li>
    <li><a href="">San Luis Potosí</a></li>
    <li style="color: grey;"><i>State of Mexico</i></li>
    <li style="color: grey;"><i>Sinaloa</i></li>
    <li style="color: grey;"><i>Sonora</i></li>
    <li style="color: grey;"><i>Tabasco</i></li>
    <li style="color: grey;"><i>Tamaulipas</i></li>
    <li style="color: grey;"><i>Tlaxcala</i></li>
    <li><a href="">Veracruz</a></li>
    <li><a href="">Yucatán</a></li>
    <li><a href="">Zacatecas</a></li>
</ul>
