<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Campeche guide at chingon.info</title>
        <meta name="description" content="A comprehensive guide to Campeche, covering key attractions, local culture, food, and travel tips">
        {% include "meta-content.njk" %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">chingón.info</a></li>
                <li><a href="/guide/">Guide</a></li>
                <li><a href="/guide/states/">States</a></li>
                <li>Campeche</li>
            </ul>
        </nav>
        <article>
            <header>
                <h1>Campeche</h1>
                    <strong lang="yua">Báaxal tuch’bil ju’un</strong> <span lang="en">(original)</span>
                    <blockquote lang="yua">
                        K’a’asaje’ báaxal tuch’bil ju’un ku xik’nal.<br>
                        Teech chóolik junjump’íitil,<br>
                        ki’imak a wóol tu xik’nal.<br>
                        Ken jach ka’anchake’<br>
                        ku téep’el u suumil a k’ajlaye’<br>
                        ka kutal a cha’ant u páayk’abta’al tumen náachil.
                    </blockquote>
                    <strong lang="es">Papalote</strong> <span lang="en">(translation)</span>
                    <blockquote lang="es">
                        El recuerdo<br>
                        es un papalote.<br>
                        Poco a poco le sueltas,<br>
                        disfrutas su vuelo.<br>
                        En lo más alto<br>
                        se rompe el hilo de tu memoria<br>
                        y te sientas a presenciar cómo lo posee la distancia.
                    </blockquote>
                    <span lang="en"><strong>Kite</strong> (double translation)</span>
                    <blockquote lang="en">
                        Memory<br>
                        is a kite.<br>
                        Little by little, letting it go,<br>
                        enjoying its flight.<br>
                        At its highest point,<br>
                        the thread of memory snaps<br>
                        and you sit and watch as distance takes hold of it.
                    </blockquote>
                    <p>– by <a href="https://con-versandorevistaiberoamericana.mx/2025/04/17/dos-poemas/">Briceida Cuevas Cob</a> born in the State of <span id="strong-title"><strong>Campeche</strong></span>, who write poems in Yucatec Maya and Spanish.</p>
            </header>
            <section>
                <h2>Preamble.</h2>
                <p>Campeche has been one of Mexico's best kept colonial secrets for many years. An old Mayan trading port, Campeche is the capital city of the State which bears its name. Although the Spaniards arrived here in 1517, the opposition they were greeted with kept them from settling here until 1540, when Francisco de Montejo (who founded nearby <a href="">Merida</a>) gained sufficient control to establish a settlement in the area. With its exports to Europe of local timber, silver and gold, the port prospered and became the primary trading port of the Yucatan.</p>

                <p>Wealthy merchants and traders built stunningly beautiful houses and haciendas here; today hundreds of these have been carefully restored to their former glory and repainted with the original soft pastel colours used in the past. In 1999 UNESCO declared Campeche a World Heritage Site.</p>

                <p>Campeche's appeal is enhanced by the long and broad waterfront it has stretching along the Gulf of Mexico. It's a popular place in the evenings for people who want to watch the sunsets and also an extraordinary stage from which to experience thunderstorms roll in off the Gulf.</p>

                <p>This old walled city with its narrow streets, pastel colours houses and old colonial feel is one of colonial Mexico's best kept secrets, although as traveller's begin to venture further south from Merida and the Mayan ruins nearby, they are beginning to discover this true gem. Next time you find yourself in Mexico's Yucatan region, be sure to visit this colonial wonder: your time spent here will be well rewarded.</p>

                <p>/add an image/</p>
            </section>
            <section>
                <h2>Section 1.</h2>
            
                <h3>Colonial centre</h3>
                <p>The city's Cathedral, <span lang="es">Catedral de la Concepcion Inmaculada</span> stands just off the main <span lang="es">Zocalo</span> (Parque Principal); it was completed early in the 18th century.</p>
                <p>The <span lang="es">Palacio de Gobierno</span> (Government Palace) is an ultra-modern building, built on reclaimed land, northwest of the Parque Principal just off the <span lang="es">Plaza de la Republica</span>.</p>
                <p><span lang="es">Fuerte de San Miguel</span> (St Michael's Fort) on the southwest side of the city is host to a fine archaeological museum, housing Mayan artefacts from the archaeological ruins at Edzna and Jaina.</p>
                <p>The city's narrow streets and pastel coloured houses are a major attraction. In the famous neighbourhood of San Roman, you can visit the church where the Black Christ is hosted; a 6ft ebony statue brought to Mexico from Italy in 1575. The Tram can take you here (see Trams, below).</p>
            
                <h3>The Bulwarks (<span lang="es">Baluartes</span>)</h3>
                <p>The city's Bulwarks (7 of the original 8 still stand) can be toured on foot, along <span lang="es">Avenida Circuito Baluartes</span>; some of them now house visitor attractions.</p>
            
                <ul>
                    <li><span lang="es">Baluarte de Nuestra Señora de la Soledad</span> is host to the Museo de Estelas Maya; offering a collection of Mayan artefacts.</li>
                    <li><span lang="es">Baluarte de Santiago</span> hosts the miniature <span lang="es">Jardin Botanico Xmuch Haltun</span>, a collection of tropical plants and fountains.</li>
                    <li><span lang="es">Baluarte de San Pedro</span>, situated in the middle of an intersection, is a local crafts exhibition and sales centre.</li>
                    <li><span lang="es">Baluarte de San Carlos</span> has the <span lang="es">Museo de la Ciudad</span> (city museum) which includes a scale model of the old city. There are sea views from the roof.</li>
                    <li><span lang="es">Baluarte de San Francisco</span>, <span lang="es">Baluarte de San Juan</span> and <span lang="es">Baluarte de Santa Rosa</span> are the last three of the Bulwarks which can be visited.</li>
                </ul>
            
                <h3>Nearby Beaches</h3>
                <p>Campeche is a coastal city, and although the beaches immediately adjacent to it are not ideal for beach-goers, there is a small fishing village a few kilometres away called Lerma, near where you'll find some beaches to relax on at <span lang="es">Playa Bonita</span> ("Pretty Beach").</p>

                <h3>Campeche's Trams (<span lang="es">Tranvías</span>)</h3>
                <p>One of the best ways to see the delights of the city is to take a ride on one of the <span lang="es">Tranvías</span> (Trams) which offer bi-lingual commentary (English and Spanish). The <span lang="es">Tranvía de la Ciudad</span> passes by most of the main attractions and picturesque colonial neighbourhoods in Campeche including San Roman; while <em>El Guapo</em> ("The Handsome One") takes a route along the seafront to the <span lang="es">Fuerte de San Miguel</span> (see above). Both trams start at the <span lang="es">Zócalo</span> (Parque Principal).</p>
            
                <h3>Campeche by Night</h3>
                <p>To enjoy a wonderful walking experience around Campeche's narrow colonial streets, wait until the sun goes down. As the temperature cools, the lights come on and illuminate the pastel coloured houses, streets, and courtyards. Evening walks are a popular pastime with locals and visitors alike.</p>
            
                <p>/add an image/</p>
            </section>            
            <section>
                <h2>Section 2.</h2>
                <h3>Getting there...</h3>
                <p><strong>by air</strong> – You can fly to Aguascalientes from Dallas in the USA and other points in Mexico including <span lang="es">Ciudad de México</span> (Mexico City) and <span lang="es">Monterrey</span>.</p>
                <p><strong>by bus</strong> – You can travel to Aguascalientes on a luxury bus from Mexico City – the trip takes 6 hours. An overnight bus does run from Mexico City to Aguascalientes, leaving at around midnight and arriving in Aguascalientes at 6am, in time to enjoy the day there.</p>
                <p><strong>by car</strong> – Driving to Aguascalientes is very fast and efficient using the many high-speed roads that connect this region. See additional information about <a href="">driving in Mexico</a> and <a href="">Mexico's toll roads</a>.</p>


                <h3>Getting around...</h3>
                <p><strong>from the airport</strong> – The airport is not far from Aguascalientes on the south side of the city and ground transportation is available.</p>

                <p><strong>taxis</strong> – Taxis in Aguascalientes now have taxi meters; they are economical and very good value for money. Your hotel can arrange taxis for you; some post their rates on a board in the lobby. Keep in mind that taxis from hotels are often more expensive than street cabs. If you speak Spanish, you will have a distinct advantage and be able to negotiate a better price in these circumstances! Another good reason to <a href="">learn Spanish</a>!</p>

                <p><strong>rent a car</strong> – Aguascalientes is very accessible by road, and there is plenty to see and do in the surrounding areas – including no fewer than three other colonial cities! Renting a car would be a smart option if you're thinking about travelling around this region, as it will give you the freedom and flexibility to see more of the area and its surrounding attractions effectively.</p>
            </section>
            <section>
                <h2>Section 4.</h2>
                <p>Aguascalientes enjoys year-round, hot & dry weather. The climate is ideal for taking part in a variety of outdoor sports and activities and for taking in the local culture, architecture and scenery. Rain is seldom a feature here; when the rains do come they tend to be during the months of  May thru November, but as with most monsoon areas, rains tend to be fierce and brief in the late afternoon, leaving the evenings dry and cooled off.</p>
            </section>
        </article>
        {% include "footer.njk" %}
    </body>
</html>