<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Guides to Mexico states at chingon.info</title>
        <meta name="description" content="Guides to Mexico states at chingon.info">
        {% include "meta-content.njk" %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">chingón.info</a></li>
                <li><a href="/guide/">Guide</a></li>
                <li>States</li>
            </ul>
        </nav>
        <article>
            <h1>Guides to Mexico states</h1>
            {% include "states-list.njk" %}
        </article>
        {% include "footer.njk" %}
    </body>
</html>