body {
    margin: 0 19px;
    font-family: 'Times New Roman', serif;
}

#main {
    max-width: 1720px;
}

.cont {
    max-width: 720px;
}

.hide,
.skip {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    display: inline-block;
    padding: 0;
    display: flex;
}

nav li:after {
    content: "›";
    display: inline-block;
    margin: 0 7px;
    pointer-events: none;
}

nav li:last-of-type:after {
    display: none;
}

.multi-column-section {
    display: flex;
    flex-wrap: wrap;
}

.multi-column-section .column {
    flex: 1 1 30%;
    box-sizing: border-box;
}

footer,
footer p,
footer ul {
    font-size: 18px;
    line-height: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer table {
    max-width: 1024px;
    margin: 2em 0 0 0;
}

footer table tr td:first-of-type {
    width: 341px;
    padding: 0;
}

footer table tr td:nth-of-type(2) {
    width: auto;
    padding: 0;
}

h1#home-title {
    font-size: 75px;
    line-height: 75px;
    margin: 0;
}

h1 {
    font-size: 48px;
    line-height: 40px;
}

h2 {
    font-size: 36px;
    margin: 2em 0 .75em;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    margin: 1.2em 0 0.8em;
}

h4 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    margin: 1.2em 0 0.8em;
}

header,
section {
    max-width: 1024px;
}

p,
table,
ul {
    font-size: 23px;
    line-height: 27px;
    max-width: 1024px;
}


.subtitle p {
    line-height: 0px;
}

.multi-column-list {
    list-style: none;
    padding: 0;
    column-width: 200px;
    column-gap: 0em;
}

.multi-column-list li {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    line-height: 100%;
    margin-bottom: 0.25em;
}

ol {
    font-size: 20px;
    list-style: none;
    padding: 0;
    columns: 2;
    max-width: 715px;
    column-gap: 15px;
}

ol li {
    max-width: 350px;
    break-inside: avoid-column;
}

table td {
    vertical-align: top;
}

img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
    margin-top: 48px;
}

figure {
    margin: 26px 0;
    display: inline-block;
}

figure img + img {
    margin-top: -3%;
}

figcaption {
    margin-top: 6px;
    max-width: 720px;
}

figcaption p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}

p img {
    width: 100%;
    max-width: 720px;
    height: auto;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.5em;
    line-height: 0;
    font-size: 16px;
    font-weight: 700;
}

sup a {
    text-decoration: none;
}

.footnotes {
    margin-bottom: 48px;
}

.footnotes p {
    display: inline;
    font-size: 20px;
    line-height: 22px;
    hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
}

.footnotes sup {
    top: -0.2em;
}

/* Color contrast of 5.0 */
/* Color contrast of 5.0 */
body,
html {
    color: #000;
    font-size: 18px;
}

a,
header a {
    color: #356bcb; /* Adapted */
}

:lang(es) {
    color: #bd2a2c; /* From codex */
}

:lang(nah),
:lang(yua) {
    color: #337d00; /* Adapted */
}

h1, h2, h3, h4, nav {
    color: #8b6800; /* Adapted */
}

#strong-title strong {
    color: #9e5c60; /*natural mix of black and red*/
}

@media (prefers-color-scheme: dark) {
    a,
    header a {
        color: #6bb1d1; /* From codex */
    }

    :lang(es) {
        color: #ff787a; /* Adapted */
    }

    :lang(nah),
    :lang(yua) {
        color: #58b900; /* Adapted */
    }

    h1, h2, h3, h4, nav {
        color: #FECE1F; /* From codex */
    }

    body,
    html {
        background-color: #1e1e1e;
        color: #dedede;
    }
    
    #strong-title strong {
        color: #d98d56; /*natural mix of white and red*/
    }
}

@media (max-width: 1023px) {
    picture {
        text-align: center;
        display: block;
    }
}

@media (max-width: 767px) {
    footer table tr td:first-of-type {
        width: 300px;
    }

    footer ul {
        padding: 0;
    }

    h1#home-title {
        font-size: 50px;
        line-height: 50px;
    }

    h1 {
        font-size: 36px;
        line-height: 36px;
    }

    h2 {
        font-size: 30px;
        line-height: 30px;
    }

    ol {
        columns: 1;
        font-size: 18px;
    }

    ol li {
        max-width: 100%;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    p,
    table,
    ul {
        font-size: 20px;
        line-height: 24px;
    }
    .multi-column-section .column {
        flex: 1 1 100%;
    }
}