<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aguascalientes guide at chingon.info</title>
        <meta name="description" content="A comprehensive guide to Aguascalientes, covering key attractions, local culture, food, and travel tips">
        {% include "meta-content.njk" %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">chingón.info</a></li>
                <li>Guide</li>
            </ul>
        </nav>
        <article>
            <p>
                <ul>
                    <li><a href="/guide/states/">Guide by states</a></li>
                    <li><a href="/guide/places/">Guide by destination</a></li>
                </ul>
            </p>
        </article>
        {% include "footer.njk" %}
    </body>
</html>